 

/*head*/

.page-head{
    width: 100%;
    text-align: center;
    margin: 20px 0px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.page{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
   
 
    /* border: 2px rebeccapurple solid; */
    margin: 10px 0px;
}
.page .filter-sec{
    width: 250px;
    flex-shrink: 0;
      /* height: 70vh; */
    /* border: 2px rebeccapurple solid; */
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    box-sizing: border-box;
}
.filter-data{
    padding: 10px;
}
.head-filter p{
    font-weight: 500;
}

.special-item{    
        display: flex;
    align-items: center;
    margin: 5px 0px 5px 10px;
    
}
.special-item label{
    margin-left: 10px;
     font-size: 17px;
}
.special-item input{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.head-rating p{
    font-weight: 500;
    margin-top: 15px;
}


 

.rating-item{
         display: flex;
    align-items: center;
    justify-content: flex-start;
    
    margin: 5px 0px 5px 10px;
}
.rating-filter label{
  margin-left: 10px;
     
}
.rating-filter input{
     width: 20px;
    height: 20px;
    cursor: pointer;
}



.page .doctorlist-sec{
flex: 1;
    /* border: 2px rebeccapurple solid; */
    border-radius: 20px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
     padding: 10px;
      box-sizing: border-box;
    min-width: 0;
}
.doctorlist-search  {
    background-color: #F3F4F6;
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border-radius: 20px;
   

}

.doctorlist-search  input{
   flex: 1;
   border: none;
     padding: 5px;
     border-radius: 20px;
     min-width: 0;
       outline: none;
   
}
.doctorlist-search  span{
   width: 40px;
   flex-shrink: 0;
   text-align: center;
}



/****list-doc*********/


.doctorlist-doctors{
    margin: 20px 0px;
    
    max-height: 600px;  
  overflow-y: auto;
  padding-right: 8px;
}


.one-doc{
    display: flex;
    align-items: center;
    justify-content: space-between;
     box-sizing: border-box;
     padding: 10px;
    
}


.data-doc{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.data-doc p{
    padding: 0px;
    margin: 0px;
}




.doc-img img{
width: 100px;
height: 100px;
border-radius: 20px;
object-fit: cover;
}


.Book-Appointment{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.Book-Appointment button{
border: none;
padding: 5px;
border-radius: 20px;
background-color: #7C3AED;
color: white;
}
.Book-Appointment button:hover{
    background-color: #6D28D9;
}
.Book-Appointment  span{
    
width: 40px;
text-align: center;
cursor: pointer;
}