

.about{
    /* border: 3px red solid; */
    margin-top: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
     box-shadow: 0px 0px 10px 	rgba(0, 0, 0, 0.2);
} 
.about p{
    color: #374151;
}
.about-body{
    margin: 0px 10px ;
}
.about-education{
      margin: 0px 10px ;
}